language: julia

os:
  - linux
  - osx

julia:
  - 1.1
  - 1.2
  - 1.3
  - nightly

branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/ # tags

notifications:
  email: false

jobs:
  allow_failures:
    - julia: nightly
  include:
    - stage: Documentation
      julia: 1.3
      os: linux
      script:
        - julia --project=docs -e 'using Pkg; Pkg.instantiate(); Pkg.add(PackageSpec(path=pwd())); Pkg.build("NOMAD")'
        - julia --project=docs --color=yes docs/make.jl
      after_success: skip

after_success:
  - julia -e 'if Sys.islinux() && string(VERSION)[1:3] == "1.3"
      using Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())
    end'
